[Desktop Entry]
Name=Restore saved session(s) at startup
Comment=Restore saved session(s) at startup
Icon=
Exec=gdbus call --session --dest org.gnome.Shell.Extensions.awsm --object-path /org/gnome/Shell/Extensions/awsm --method org.gnome.Shell.Extensions.awsm.Autostart.RestoreSession
Terminal=false
Type=Application
X-GNOME-Autostart-Delay=${autostartDelay}
