.awsm-toggle-switch {
  background-image: url("./icons/toggle-off-autorestore-symbolic.svg"); }

.awsm-toggle-switch:checked {
  background-image: url("./icons/toggle-on-autorestore-symbolic.svg"); }

/* Restore Session Dialog */
.restore-session-dialog {
  width: 30em; }

/**
* *-tooltip: Adapted from: https://github.com/GSConnect/gnome-shell-extension-gsconnect/blob/master/src/stylesheet.css
*/
.awsm-tooltip {
  border-radius: 3px;
  min-width: 0;
  min-height: 0;
  padding: 6px; }

.awsm-tooltip > StBoxLayout {
  spacing: 6px; }

.awsm-tooltip StIcon {
  icon-size: 16px; }

.awsm-tooltip StLabel {
  font-weight: normal;
  text-align: left; }

.awsm-tooltip StLabel:rtl {
  text-align: right; }

.session-menu-section {
  max-height: 600px; }

.font {
  font-size: 120%; }

.confirm-before-operate {
  color: #F00;
  font-weight: bold;
  font-style: italic; }

.confirm-before-operate:hover, .confirm-before-operate:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 5px; }

.button-item > StIcon {
  icon-size: 14px; }

.aws-item-separator {
  border-radius: 32px;
  padding: 4px;
  /* 
    Remove cycle / border in the background in case everyone think this separator is a clickable button, actually it's just a view-only separator.

    https://developer.mozilla.org/en-US/docs/Web/CSS/border 
    */
  border: none; }

.aws-item-separator > StIcon {
  icon-size: 14px; }

/**
Add highlight effect when hover over the buttons in the item

Based on https://gitlab.com/bartl/todo-txt-gnome-shell-extension/-/blob/master/stylesheet.css
*/
.aws-item-button {
  border-radius: 32px;
  padding: 4px;
  border: 1px solid #282c2c; }

.aws-item-button:hover, .aws-item-button:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 5px; }

.aws-item-button > StIcon {
  icon-size: 14px; }

.popup-menu-section .popup-menu-item:last-child:hover, .popup-menu-section .popup-menu-item:last-child:focus {
  background-color: transparent; }

.notebook.tabs {
  font-weight: bold;
  font-size: 140%;
  color: white;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0px;
  border-radius: 0px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
  /* It does not work using four values. https://developer.mozilla.org/en-US/docs/Web/CSS/border-width */
  /* border-width: 1px 0px 1px 0px; */
  border-top-width: 1px;
  border-bottom-width: 1px; }

.popup-sub-menu-aws:open {
  border-color: #5b5b5b;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-radius: 0; }

.popup-sub-menu-box-aws {
  border-color: #5b5b5b;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px; }
